.App {
  font-family: sans-serif;
  text-align: center;
}
.diceGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  height: vh;
  margin-bottom: 12px;
}
.diceGrid div {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
}

.activeGrid {
  font-size: auto;
}

.inactiveGrid {
  opacity: 0.5; /* Reduced opacity */
  filter: grayscale(75%); /* Apply grayscale filter */
}
.gameOverContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other elements */
}

.gameOverBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 100000; /* Ensure it's above other elements */
}

.gameOverMode {
  pointer-events: none;
}

.gameOverMode button {
  pointer-events: auto; /* Ensure the button remains clickable */
  opacity: 1; /* Restore full opacity for the button */
}
