.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.diceGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Adjusted for responsiveness */
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .diceGrid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(80px, 1fr)
    ); /* Adjust for smaller screens */
  }
}
.diceGrid div {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
}
.dice {
  margin: 0 auto;
  background-image: url(../public/dice-filtered/dup3dice1.svg);
  background-position: center;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  border-radius: 10%;
  background-size: 90%;
  position: relative;
}

.activeGrid {
  font-size: auto;
}

.inactiveGrid {
  opacity: 0.5;
  filter: grayscale(75%);
}

.gameOverContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.gameOverBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 100000;
}

.gameOverMode {
  pointer-events: none;
}

.gameOverMode button {
  pointer-events: auto;
  opacity: 1;
}

.dice-container {
  text-align: center;
  margin: 0 auto; /* Center the container */
  max-width: 85%; /* Adjusted width */
}

.dice-rolling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 85%; /* Adjusted width */
  height: auto; /* Changed to auto for responsiveness */
  min-height: 220px;
  margin: 10px auto;
  background-color: white;
}

.dice-animation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dice-animation-overlay.visible {
  opacity: 1;
}

.dice-animation {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  transition: transform 0.2s ease-in-out;
}

.dice-animation.visible {
  transform: scale(1);
}

.dice-animation .dice {
  width: 100px;
  height: 100px;
}

/* Your dice classes remain unchanged */

.dice1 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice1.svg);
}
.dice1.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice1.svg);
}
.dice1.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice1.svg);
}

.dice2 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice2.svg);
}
.dice2.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice2.svg);
}
.dice2.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice2.svg);
}

.dice3 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice3.svg);
}
.dice3.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice3.svg);
}
.dice3.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice3.svg);
}

.dice4 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice4.svg);
}
.dice4.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice4.svg);
}
.dice4.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice4.svg);
}

.dice5 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice5.svg);
}
.dice5.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice5.svg);
}
.dice5.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice5.svg);
}
.dice6 {
  margin: 0 auto;
  background-image: url(../public/full-size-dice/dice6.svg);
}
.dice6.duplicate-amount2 {
  background-image: url(../public/dice-filtered/dup2dice6.svg);
}
.dice6.duplicate-amount3 {
  background-image: url(../public/dice-filtered/dup3dice6.svg);
}

.dice-roll-box {
  min-width: 138px;
  min-height: 138px;
}
